.App {
  text-align: center;
}

.new-todo {
  margin-top: 20px;
}

.new-todo-label {
  vertical-align: bottom;
  margin-right: 5px;
}

.todo-list {
  padding: 20px;
}

.todo {
  cursor: pointer;
}

.todo-completed {
  cursor: pointer;
  text-decoration: line-through;
}
